#!/bin/bash
# Copyright 2016 The dev Authors. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.


# Use readonly or declare -r to ensure they're read only.

# Nodes
# declare -Agr cfg_nodes=(
#     [192.168.122.101]=ld
# )

# Projects
# declare -Agr cfg_projects=(
#     [sys]=/path/to/sys-project
#     [app]=/path/to/app-project
# )

# Private key path
# readonly cfg_ssh_key="id_rsa"

# [protocol://][user:password@]proxyhost[:port]
# readonly cfg_proxy=""
