# Copyright 2016 The dev Authors. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.


# Use readonly or declare -r to ensure they're read only.

# Projects
declare -Ag dev_conf_projects=(
    [dev]=$dev_global_base
    # [your_project_name]=/path/to/project
)

# Private key path
readonly dev_conf_ssh_key="id_rsa"

# [protocol://][user:password@]proxyhost[:port]
# readonly cfg_proxy=""
