#!/bin/sh
# Copyright 2016 The dev Authors. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.


# Use readonly or declare -r to ensure they're read only.


# The shortname of motherboard model
# used to identity the video driver
# b75m, s1200, vbox, lxc etc
# readonly cfg_model=""

# Working directory
# readonly cfg_base="$glb_wk_dir"

# The directory stored command files
# readonly cfg_cmd="$cfg_base/lib"

# The log directory
# readonly cfg_log="$cfg_base/log"

# The temp directory
# readonly cfg_var="$cfg_base/var"

# Private key path
# readonly cfg_private_key="$HOME/.ssh/id_rsa"

# Nodes
declare -Ag cfg_nodes=(
    [192.168.122.101]=ld
    [192.168.122.102]=ld
    [192.168.122.103]=ld
)
